spring:
  profiles:
    include: db, secret, oauth
management:
  server:
    port: 8081
  endpoints:
    enabled-by-default: false
    web:
      base-path: "/manage"
      exposure:
        include: "health"
    jmx:
      exposure:
        exclude: "*"
  endpoint:
    health:
      enabled: true
      show-details: always
  health:
    diskspace:
      enabled: false
---
spring:
  config:
    activate:
      on-profile: local
  devtools:
    restart:
      enabled: false
    livereload:
      enabled: true
  security:
    debug: true
  data:
    redis:
      host: localhost
      port: 6379
      password:
  session:
    store-type: redis
    redis:
      namespace: aireview:session
    timeout: 3600
server:
  tomcat:
    threads:
      max: 10
      min-spare: 10
    max-connections: 100
    accept-count: 10
    connection-timeout: 2000
logging:
  level:
    root: INFO
    org:
      springframework:
        web: DEBUG
      hibernate:
        type:
          descriptor:
            sql: trace
---
spring:
  config:
    activate:
      on-profile: dev
  devtools:
    restart:
      enabled: false
    livereload:
      enabled: false
  security:
    debug: false
  data:
    redis:
      host: localhost
      port: 6379
  session:
    store-type: redis
    redis:
      namespace: aireview:session
    timeout: 3600
server:
  tomcat:
    threads:
      max: 10
      min-spare: 10
    max-connections: 100
    accept-count: 10
    connection-timeout: 2000
---
spring:
  config:
    activate:
      on-profile: prod
---

